modules = ["nix", "cpp"]
[agent]
expertMode = false

[nix]
channel = "stable-25_05"
packages = ["gcc", "libgcc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "simple app"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "cpp_build_and_run"

[[workflows.workflow]]
name = "simple app"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ main.cpp -o main.sh ; ./main.sh"

[[workflows.workflow]]
name = "cpp_build_and_run"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ main.cpp -o main.sh ; ./main.sh"
